body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black ;
}

#videos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullScreenVideo {
    height: 100vh;
}